{% extends "master" %}

{% block header %}
{% endblock header %}


{% block content %}
    {% for post in posts %}
        <div class="header">
            <h1>{{ post.title }}</h1>
            <h2>Hi!</h2>
        </div>

        <div class="content">
            {{ post.body | safe }}
        </div>
    {% endfor %}
{% endblock content %}
